/*this is a comment for the question*/
boxMargin {
    width: 400px;
    border: 15px solid blue;
    padding: 60px;
    margin: 30px;
}
/*css outline*/
p.double {border-style: double;}
p.dotted {border-style: dotted;}

/*css text properties*/
textproperties {
    background-color: lightblue;
    color: black;
}
/*css fonts*/
 fontfamily {
     font-family: "Times New Roman", Times, serif;
 }

 /* the paragraph will show the text in a inline-block */
/*The paragraph has a max width of 100 px*/
/*The paragraph will show the position according to the browser*/
/*The paragraph also shows the overflow to be visible*/
p{display: inline-block;
    max-width: 100px;
    position: fixed;
    overflow: visible;
}

